<!DOCTYPE html>
<html>
  <head>
    <title>GreenEye Home Assignment</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="/static/index.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="cluster_input">
      <h1>K-Means Cluster Calculator</h1>

     <label>Enter Clusters Amount:</label>
     <input type="number" name="clusters_amount" id="clusters_amount">
     <br><br>
     <input type="submit" name="next" value="Next" onclick="calculate_clusters();">

     <br><br>
     <div id="clusters_result">
     <h2>Results</h2>
         <div id="result">
     </div>
    </div>
  </body>
</html>